.card {
  margin: 1em !important;
  text-align: left;
}

.imageWrapper {
  height: 175px;
  overflow: hidden;
  position: relative;

  img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
